# Python
**/__pycache__/
**/env/
**/venv/
**/.env/
**/.venv/

# IDEs e editores
**/.idea/
**/.vscode/
**/*.swp
**/*.swo

# Arquivos do sistema
.DS_Store

# Pessoal
**/trash/

# Node
node_modules
package-lock.json

# Other files
predictions_plot.png 